@import '../../../culverin-scss/variables' ;

$primary-font: 'Lato', sans-serif; 
$secondary-font: 'Montserrat', sans-serif; 

$offset-font-color: $shade-lightest;

$brand-1: #001368;
$brand-accent: #ce2213;
$standard-border: 2px solid $brand-1;